@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&family=Sarala&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgb(255,167,1);
    background: linear-gradient(90deg, rgba(121,9,9,1) 0%, rgba(255,167,1,1) 96%);
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img-logo{
    width: 70%;
}


.submit{
    padding: 20px;
    background-color: #a0b504;
    color: aliceblue;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.29);
    font-size: 30px;
}

.submit:hover {
    cursor: pointer;
}

.titulo{
    margin-bottom: 50px;
    font-size: 40px;
    color: white;
    padding: 30px;
    text-shadow: rgba(0, 0, 0, 0.49) 0.1em 0.1em 0.2em;
    text-transform: uppercase;
    letter-spacing: 3px;

}

input[type=file]{
    display: none;
}

label{
    padding: 20px;
    background-color: #97ab02;
    color: aliceblue;
    border-radius: 15px;
    border: none;
    box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.29);
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}
i{
    margin-right: 10px;
}

@media (max-width: 460px)
{
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  img{
    margin-left: 80px;
  }

  .titulo{
    margin-top: 30px;
    font-size: 19px;
    padding: 0;
  }

  label{
    padding: 15px;
  }

  .submit{
    padding: 15px;
  }
}

